Repository koreader/koreader, pull requests merged in 2019-01, with the labels that each got.

#4462 wifi: try to connect to known network before listing
  frontend/device/cervantes/device.lua
  frontend/ui/network/manager.lua
Labels: Cervantes, UX, enhancement

#4474 [fix] PocketBook 626 new firmware with new codename
  frontend/device/pocketbook/device.lua
Labels: PocketBook, bug

#4516 [Android] Update logcat command for kodev run android
  kodev
Labels: Android

#4530 [chore, CI] Ensure no whitespace between gettext() call and string
  .ci/check.sh
Labels: bug
