Repository koreader/koreader, pull requests merged in 2019-06, with the labels that each got.

#5052 Fix inconvenient InputText behavior with hint text and devices having touchscreen
  frontend/ui/widget/inputtext.lua
Labels: UX, bug

#5051 Change perception expander plugin behaviors
  plugins/perceptionexpander.koplugin/main.lua
Labels: Plugin, bug

#5053 Add Korean keyboard (2-beolsik)
  frontend/ui/data/keyboardlayouts/ko_KR_helper.lua
  frontend/ui/data/keyboardlayouts/ko_KR_keyboard.lua
  frontend/ui/widget/virtualkeyboard.lua
Labels: UX, enhancement

#5055 Fix shutdown action on Kobo
  frontend/device/kobo/device.lua
Labels: Kobo

#5062 [fix] End of document - go to file browser: swap openFileBrowser() close/open order
  frontend/apps/reader/modules/readerstatus.lua
Labels: bug

#5063 [fix, plugins] Wallabag: close document on go to folder
  plugins/wallabag.koplugin/main.lua
Labels: Plugin, bug

#5064 [fix, plugins] NewsDownloader: close document on go to folder
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, bug

#5066 [doc, fix] Some documentation issues
  frontend/ui/data/keyboardlayouts/ko_KR_helper.lua
  frontend/version.lua
Labels: bug, documentation

#5067 [fix] util.getSafeFilename() maximum extension length
  frontend/util.lua
  plugins/wallabag.koplugin/main.lua
  spec/unit/util_spec.lua
Labels: Plugin, bug

#5071 [fix] Kindle Basic 3: use Kobo snow protocol
  frontend/device/kindle/device.lua
Labels: Kindle, bug

#5092 [fix] OPDS crash with fewer than 4 servers
  frontend/ui/widget/opdsbrowser.lua
Labels: bug
