Repository koreader/koreader, pull requests merged in 2020-05, with the labels that each got.

#6101 Move to archive plugin
  frontend/apps/filemanager/filemanager.lua
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
  plugins/movetoarchive.koplugin/_meta.lua
  plugins/movetoarchive.koplugin/main.lua
Labels: Plugin

#6113 [Plugin] Fix move to archive plugin names
  plugins/movetoarchive.koplugin/_meta.lua
  plugins/movetoarchive.koplugin/main.lua
Labels: Plugin, bug

#6108 close file before deleting
  frontend/apps/reader/modules/readerstatus.lua
Labels: bug

#6118 Send2Ebook - memory optimalization
  plugins/send2ebook.koplugin/main.lua
Labels: Plugin

#6096 [Gesture] Add go to first and last page
  frontend/apps/reader/modules/readergesture.lua
Labels: UX

#6127 Fix name for GoldenDict Pro dictionary
  frontend/device/android/dictionaries.lua
Labels: Android

#6123 android: add a toggle to force haptic feedback in spite of system settings
  frontend/device/android/device.lua
  frontend/ui/elements/common_settings_menu_table.lua
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
Labels: Android

#6128 Delegate "lastfile" management to ReadHistory
  frontend/apps/filemanager/filemanager.lua
  frontend/apps/filemanager/filemanagerhistory.lua
  frontend/apps/filemanager/filemanagerutil.lua
  frontend/apps/reader/modules/readermenu.lua
  frontend/apps/reader/modules/readerstatus.lua
  frontend/apps/reader/readerui.lua
  frontend/readhistory.lua
  plugins/movetoarchive.koplugin/main.lua
  plugins/wallabag.koplugin/main.lua
Labels: chore

#6131 Reorganize bottom menu config panels
  frontend/apps/reader/modules/readerzooming.lua
  frontend/ui/data/creoptions.lua
  frontend/ui/data/koptoptions.lua
  frontend/ui/data/strings.lua
  frontend/ui/widget/button.lua
  frontend/ui/widget/configdialog.lua
Labels: UX

#6099 Debian - fix some lintian errors
  Makefile
  platform/debian/changelog
  platform/debian/copyright
  platform/debian/do_debian_package.sh
  platform/debian/koreader.1
Labels: Desktop

#6161 fix openLink on linux
  frontend/device/sdl/device.lua
Labels: Desktop, bug

#6169 clean PB device definition
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6173 Statistics: fix number of highlights
  frontend/apps/reader/modules/readerbookmark.lua
  plugins/statistics.koplugin/main.lua
Labels: bug

#6167 desktop: add support for 3rd party dictionary apps
  frontend/device/sdl/device.lua
  frontend/device/sdl/dictionaries.lua
Labels: Desktop

#6179 Kill the RMSDK, too.
  platform/kobo/koreader.sh
Labels: Kobo

#6170 init wallabag queue
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#6182 [PocketBook] Add 515 and PB616W definition stubs
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6183 [PocketBook] Map d-pad key events
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6184 [PocketBook] Refine 515 model attributes
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6186 [fix] GestureDetector: prevent hold timers overlap
  frontend/device/gesturedetector.lua
Labels: bug

#6192 [PocketBook] Add PocketBook 613 Basic definition
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6193 [feat] Add Device:hasFewKeys()
  frontend/device/generic/device.lua
  frontend/device/pocketbook/device.lua
Labels: enhancement

#6204 [Kindle] Don't resize the titlebar on FW >= 5.12.4
  platform/kindle/koreader.sh
Labels: Kindle

#6194 Statistics: some fixes, reorder book stats fields
  frontend/ui/widget/keyvaluepage.lua
  plugins/statistics.koplugin/main.lua
Labels: Plugin, bug

#6212 Footer: fix items possibly missing
  frontend/apps/reader/modules/readerfooter.lua
Labels: bug
