Repository koreader/koreader, pull requests merged in 2020-10, with the labels that each got.

#6762 [UX] Add Polish keyboard layout.
  frontend/ui/data/keyboardlayouts/pl_keyboard.lua
  frontend/ui/widget/virtualkeyboard.lua
Labels: UX

#6766 enable RTL InfoMessage
  frontend/ui/widget/infomessage.lua
Labels: chore

#6767 Remove PB hardware requests
  README.md
Labels: documentation

#6764 [chore] Add authentication to Docker image
  .circleci/config.yml
Labels: chore

#6772 A few reMarkable QoL fixes
  frontend/device/generic/device.lua
  frontend/device/remarkable/device.lua
  frontend/ui/uimanager.lua
  plugins/autosuspend.koplugin/main.lua
Labels: bug, enhancement, reMarkable

#6779 Disable HW inversion on rM
  frontend/device/remarkable/device.lua
Labels: bug, reMarkable

#6781 A couple of hotfixes for 2020.10.1
  frontend/device/kindle/device.lua
  platform/pocketbook/koreader.app
Labels: Kindle, PocketBook, bug, enhancement

#6791 Pocketbook: use raw input I/O
  frontend/device/pocketbook/device.lua
  frontend/device/pocketbook/powerd.lua
  frontend/ui/uimanager.lua
  platform/pocketbook/koreader.app
  plugins/autosuspend.koplugin/main.lua
Labels: PocketBook, enhancement

#6800 Ensure the SD card is actually detected in Nickel on exit.
  platform/kobo/nickel.sh
Labels: Kobo, bug, firmware

#6786 fontlist: Cache categorized font info (for mupdf)
  frontend/apps/reader/modules/readerfont.lua
  frontend/fontlist.lua
  frontend/util.lua
Labels: MµPDF

#6807 Statistics: speed up Calendar view
  plugins/statistics.koplugin/calendarview.lua
  plugins/statistics.koplugin/main.lua
Labels: Plugin

#6810 [Kobo, Mk. 7] Enable the power LED when charging
  frontend/device/generic/device.lua
  frontend/device/kobo/device.lua
  frontend/ui/elements/common_settings_menu_table.lua
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
  frontend/ui/uimanager.lua
Labels: Kobo, enhancement, firmware

#6829 Statistics: Don't blow up when annotating/highlighting stuff with the plugin loaded, but disabled
  plugins/statistics.koplugin/main.lua
Labels: Plugin, bug

#6828 UIManager: Handle covers_fullscreen properly in close
  frontend/ui/uimanager.lua
Labels: bug, enhancement

#6814 Pocketbook: Use a single launcher
  Makefile
  platform/pocketbook/system_koreader.app
Labels: PocketBook

#6832 H2O: Fix initial tap detection
  frontend/device/kobo/device.lua
Labels: Kobo, bug, firmware

#6830 Another round of ReaderFooter fixes
  frontend/apps/reader/modules/readerfooter.lua
  frontend/apps/reader/modules/readerpagemap.lua
  frontend/apps/reader/modules/readerrolling.lua
  frontend/apps/reader/modules/readerview.lua
  frontend/apps/reader/modules/readerzooming.lua
Labels: bug
