Repository koreader/koreader, pull requests merged in 2020-04, with the labels that each got.

#6031 Fix remarkable pen input
  frontend/device/remarkable/device.lua
Labels: reMarkable

#6039 [Kindle] Be more thorough when toggling WiFi
  frontend/device/kindle/device.lua
Labels: Kindle

#6047 Non-Touch: fix hang on bottom config menu navigation
  frontend/ui/widget/configdialog.lua
Labels: bug

#5999 stardict path override
  .luacheckrc
  defaults.lua
  frontend/apps/reader/modules/readerdictionary.lua
Labels: enhancement

#6052 Statistics: fix md5 leaking between newly opened books
  plugins/statistics.koplugin/main.lua
Labels: Plugin, bug

#6048 Wallabag remove from history setting
  frontend/optmath.lua
  plugins/kosync.koplugin/main.lua
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#6091 Add support for physical button for page crop
  frontend/apps/reader/modules/readercropping.lua
  frontend/ui/widget/bboxwidget.lua
Labels: enhancement

#6089 kosync - new string methods
  plugins/kosync.koplugin/main.lua
Labels: Plugin, i18n

#6067 Add export to JSON option in Evernote plugin. Sort requires in Evernote plugin sources.
  plugins/evernote.koplugin/main.lua
Labels: Plugin
