Repository koreader/koreader, pull requests merged in 2020-08, with the labels that each got.

#6462 [chore] Allow translating "Font Size" in Dispatcher
  frontend/dispatcher.lua
Labels: chore

#6464 [fix] Allow closing SortWidget
  frontend/ui/widget/sortwidget.lua
Labels: bug

#6483 [chore] Proper plurals in CoverBrowser processing
  plugins/coverbrowser.koplugin/bookinfomanager.lua
Labels: chore, i18n

#6484 Cleanup after #6449
  plugins/gestures.koplugin/main.lua
Labels: chore

#6481 PocketBook: Improve existing and add new device definitions
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6486 calibre wireless: initialize inbox dir
  plugins/calibre.koplugin/wireless.lua
Labels: Plugin, bug

#6488 KOSync doesn't save "Auto sync now and future"
  plugins/kosync.koplugin/main.lua
Labels: bug

#6510 Support for Apache WebDAV module
  frontend/apps/cloudstorage/webdavapi.lua
Labels: bug

#6518 Fix perception expander overwriting settings with defaults
  plugins/perceptionexpander.koplugin/main.lua
Labels: Plugin, bug

#6519 Dispatcher: fix events with static argument
  frontend/dispatcher.lua
Labels: bug

#6525 Update PocketBook device definitions
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6531 emulator: fake warmth | pocketbook: warmth lights support
  frontend/device/generic/device.lua
  frontend/device/pocketbook/device.lua
  frontend/device/pocketbook/powerd.lua
  frontend/device/sdl/device.lua
  frontend/device/sdl/powerd.lua
  frontend/ui/widget/frontlightwidget.lua
Labels: PocketBook, enhancement

#6532 FM: rotation flush setting before reinit
  frontend/apps/filemanager/filemanager.lua
Labels: bug

#6533 Fixes and changes to PocketBook definitions
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#6535 Revert "Kosync network callback"
  plugins/kosync.koplugin/KOSyncClient.lua
Labels: Plugin, bug

#6550 [cervantes]: check OTA updates on restart
  platform/cervantes/koreader.sh
Labels: Cervantes, bug

#6557 Make sure "Clear history of deleted files" actually persists.
  frontend/readhistory.lua
  spec/unit/readhistory_spec.lua
Labels: bug

#6563 Always update the table of footer text generators
  frontend/apps/reader/modules/readerfooter.lua
Labels: bug

#6568 android: fix frontlight dialog gesture
  frontend/device/devicelistener.lua
  frontend/device/generic/device.lua
Labels: Android, bug

#6567 [Pocketbook]: enable usage of system fonts
  frontend/apps/reader/modules/readerfont.lua
  frontend/document/canvascontext.lua
  frontend/fontlist.lua
  frontend/ui/elements/font_settings.lua
  platform/pocketbook/koreader.app
Labels: PocketBook, enhancement

#6513 refactor thirdparty app integration
  frontend/device/android/device.lua
  frontend/device/android/dictionaries.lua
  frontend/device/sdl/device.lua
  frontend/device/sdl/dictionaries.lua
  frontend/device/thirdparty.lua
Labels: Android, Desktop, chore

#6578 remove frontlightDialog leftover
  frontend/ui/elements/common_settings_menu_table.lua
Labels: Android, chore

#6587 Better zipping
  Makefile
Labels: Android

#6586 turn on frontlight switch on Tolino.
  frontend/device/android/powerd.lua
Labels: Android

#6583 resolve ANR on hold and native light dialog
  frontend/device/android/device.lua
Labels: Android

#6601 Fix a few typos
  frontend/ui/widget/filechooser.lua
Labels: chore

#6599 Terminal: support multiple lines and make it re-invokeable
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#6605 Tame BackgroundRunner: stop running when no more job
  .luacheckrc
  frontend/device/cervantes/powerd.lua
  frontend/device/kobo/powerd.lua
  frontend/ui/plugin/background_task_plugin.lua
  plugins/autofrontlight.koplugin/main.lua
  plugins/backgroundrunner.koplugin/main.lua
  spec/unit/autofrontlight_spec.lua
  spec/unit/background_runner_spec.lua
  spec/unit/background_task_plugin_spec.lua
  spec/unit/commonrequire.lua
Labels: Plugin

#6602 Auto-standby plugin
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
  plugins/autostandby.koplugin/_meta.lua
  plugins/autostandby.koplugin/main.lua
Labels: Plugin, PocketBook
