Repository koreader/koreader, pull requests merged in 2021-01, with the labels that each got.

#7112 Legacy Kindle: Unbreak screensavers
  frontend/device/kindle/device.lua
  platform/kindle/koreader.sh
Labels: Kindle

#7106 add noop callback to cache size to prevent artifacts
  plugins/coverbrowser.koplugin/main.lua
Labels: bug

#7107 Configuration for the alternate status bar in crengine
  frontend/apps/reader/modules/readercoptlistener.lua
  frontend/apps/reader/modules/readerfooter.lua
Labels: Plugin

#7101 Add deprecation messages to plugins
  frontend/pluginloader.lua
  plugins/goodreads.koplugin/_meta.lua
Labels: Plugin

#7124 ScreenSaver: Unbreak "disable" mode
  frontend/ui/screensaver.lua
Labels: bug

#7137 Bump android-luajit-launcher
  frontend/device/android/device.lua
Labels: Android

#7147 Mark calibrecompanion plugin as obsolete
  frontend/pluginloader.lua
Labels: Plugin, bug

#7121 Don't need to keep attempting WiFi connection after success
  frontend/ui/network/manager.lua
Labels: reMarkable

#7155 [feat] Support mimetypes in DocumentRegistry:hasProvider()
  frontend/document/djvudocument.lua
  frontend/document/documentregistry.lua
  frontend/ui/widget/opdsbrowser.lua
  plugins/wallabag.koplugin/main.lua
Labels: enhancement

#7163 Add skimming support for Non-Touch devices
  frontend/apps/reader/skimtowidget.lua
Labels: NT

#7122 Wifi enable/disable for reMarkable 2
  frontend/device/remarkable/device.lua
  platform/remarkable/disable-wifi.sh
  platform/remarkable/enable-wifi.sh
Labels: reMarkable

#7159 calibre plugin: handle huge metadata files
  plugins/calibre.koplugin/metadata.lua
  plugins/calibre.koplugin/parser.lua
  plugins/calibre.koplugin/search.lua
Labels: Plugin

#7221 Better image fit (continued)
  plugins/coverimage.koplugin/main.lua
Labels: Plugin
