Repository koreader/koreader, pull requests merged in 2021-04, with the labels that each got.

#7460 Text editor: option to show/hide keyboard on start
  plugins/texteditor.koplugin/main.lua
Labels: Plugin

#7436 Fulltext search: show notification when nothing found
  frontend/apps/reader/modules/readersearch.lua
Labels: UX

#7398 Standardize search/find to search
  frontend/apps/filemanager/filemanagerfilesearcher.lua
  frontend/apps/filemanager/filemanagermenu.lua
  frontend/apps/reader/modules/readerdictionary.lua
  frontend/apps/reader/modules/readerwikipedia.lua
  frontend/ui/widget/dictquicklookup.lua
  plugins/calibre.koplugin/main.lua
  plugins/calibre.koplugin/search.lua
  plugins/opds.koplugin/opdsbrowser.lua
Labels: i18n

#7379 add update of the top and bottom status bars, on +/-Charging
  frontend/apps/reader/modules/readercoptlistener.lua
  frontend/apps/reader/modules/readerfooter.lua
  frontend/device/android/device.lua
Labels: Android

#7501 Search dialogs: correct response when nothing entered
  frontend/apps/filemanager/filemanagerfilesearcher.lua
  frontend/apps/reader/modules/readerdictionary.lua
  frontend/apps/reader/modules/readersearch.lua
  frontend/apps/reader/modules/readerwikipedia.lua
  frontend/ui/widget/dictquicklookup.lua
Labels: UX

#7507 Inputtext: don't allow the cursor to move within a hint
  frontend/ui/widget/inputtext.lua
Labels: UX, bug

#7509 remarkable FW 2.6: Set absolute path for 'sync'
  platform/remarkable/koreader.sh
Labels: reMarkable

#7492 Calibre - send files back to calibre for sync
  plugins/calibre.koplugin/wireless.lua
Labels: Plugin

#7535 add hasSystemFonts device property
  frontend/device/android/device.lua
  frontend/device/generic/device.lua
  frontend/device/pocketbook/device.lua
  frontend/device/remarkable/device.lua
  frontend/device/sdl/device.lua
  frontend/document/canvascontext.lua
  frontend/fontlist.lua
  frontend/ui/elements/font_settings.lua
  platform/remarkable/koreader.sh
Labels: Android

#7510 Add a caching mechanism for CoverImage
  frontend/device/android/device.lua
  frontend/device/generic/device.lua
  frontend/device/pocketbook/device.lua
  frontend/device/remarkable/device.lua
  plugins/coverimage.koplugin/main.lua
Labels: Plugin

#7580 do not exit when opening unsupported file by last for FM
  frontend/apps/filemanager/filemanagermenu.lua
Labels: bug

#7591 fix template
  plugins/coverimage.koplugin/main.lua
Labels: Plugin

#7585 PocketBook: Workaround platform shenanigans when aplying an OTA
  platform/kobo/koreader.sh
  platform/pocketbook/koreader.app
  platform/remarkable/koreader.sh
Labels: PocketBook, bug, firmware

#7601 Typo
  plugins/coverimage.koplugin/main.lua
Labels: Plugin, chore

#7612 Kindle: Enable AutoSuspend plugin
  plugins/autosuspend.koplugin/main.lua
Labels: Plugin

#7611 Better strings
  plugins/coverimage.koplugin/main.lua
Labels: Plugin
