Repository koreader/koreader, pull requests merged in 2021-07, with the labels that each got.

#7941 Screensaver: Fix an old w/h typo
  frontend/ui/screensaver.lua
Labels: bug

#7943 [plugin] Remove GoodReads plugin
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
  plugins/goodreads.koplugin/_meta.lua
  plugins/goodreads.koplugin/doublekeyvaluepage.lua
  plugins/goodreads.koplugin/goodreadsapi.lua
  plugins/goodreads.koplugin/goodreadsbook.lua
  plugins/goodreads.koplugin/goodreadsnophoto.png
  plugins/goodreads.koplugin/main.lua
Labels: Plugin

#7967 Flag send2ebook as deprecated
  plugins/send2ebook.koplugin/_meta.lua
Labels: Plugin

#7957 Remove zsync
  frontend/pluginloader.lua
  frontend/ui/elements/reader_menu_order.lua
  frontend/ui/message/zyremessagequeue.lua
  plugins/zsync.koplugin/_meta.lua
  plugins/zsync.koplugin/client.cfg
  plugins/zsync.koplugin/main.lua
  plugins/zsync.koplugin/server.cfg
Labels: Plugin

#8017 Activate menu: standardize to 2 checkboxes
  frontend/ui/elements/menu_activate.lua
Labels: UX

#8026 disable battery level on desktop Linux
  frontend/device/sdl/device.lua
  platform/debian/do_debian_package.sh
Labels: bug
