Repository koreader/koreader, pull requests merged in 2022-03, with the labels that each got.

#8879 TOC: use bidi_wrap_func
  frontend/apps/reader/modules/readertoc.lua
Labels: bug

#8870 Calibre plugin - Fixed hang when book has series but series index is nil
  plugins/calibre.koplugin/search.lua
Labels: Plugin

#8877 non-touch device highlight support
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/apps/reader/modules/readerview.lua
  frontend/ui/elements/reader_menu_order.lua
  frontend/ui/widget/focusmanager.lua
  frontend/ui/widget/openwithdialog.lua
  frontend/ui/widget/radiobuttonwidget.lua
  frontend/ui/widget/sortwidget.lua
Labels: NT

#8892 fix exception on expand TOC on non-touch device: table index is nil
  frontend/apps/reader/modules/readertoc.lua
Labels: NT

#8894 Kobo, Sage: better power cover detection
  frontend/device/kobo/powerd.lua
Labels: Kobo

#8909 [i18n] Add context for calibre configuration type
  plugins/calibre.koplugin/main.lua
Labels: i18n

#8869 Calibre plugin - Series/Tag browser updated to show back button.
  plugins/calibre.koplugin/search.lua
Labels: Plugin

#8919 Add OPDS PSE 1.0 support
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin

#8904 Optimized JSON export
  plugins/exporter.koplugin/clip.lua
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#8915 Progressbar in Mosaic View
  plugins/coverbrowser.koplugin/main.lua
  plugins/coverbrowser.koplugin/mosaicmenu.lua
Labels: enhancement, UX

#8933 [fix, plugin] Wallabag: avoid crash when setDownloadDirectory doesn't have a touchmenu_instance
  plugins/wallabag.koplugin/main.lua
Labels: bug, Plugin

#8935 FrontLightWidget: Unbreak warmth on full-granularity devices
  frontend/ui/widget/frontlightwidget.lua
Labels: bug, Kobo

#8900 Don't use KOReader suspend/screensaver/autosuspend when launched from Oxide
  frontend/device/remarkable/device.lua
Labels: reMarkable

#8940 ButtonProgressWidget: Make hold_callback optional
  frontend/ui/widget/buttonprogresswidget.lua
Labels: bug

#8953 Revert NewsDownloader
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
  plugins/newsdownloader.koplugin/feed_source.lua
  plugins/newsdownloader.koplugin/feed_view.lua
  plugins/newsdownloader.koplugin/http_utilities.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin
