Repository koreader/koreader, pull requests merged in 2022-01, with the labels that each got.

#8599 DocSettingTweak: Disable on non-Touch devices
  plugins/docsettingtweak.koplugin/main.lua
Labels: NT

#8610 Dropbox: upload file, create folder
  frontend/apps/cloudstorage/cloudstorage.lua
  frontend/apps/cloudstorage/dropbox.lua
  frontend/apps/cloudstorage/dropboxapi.lua
Labels: Plugin

#8604 Exporter plugin: Connect to internet before sending highlights
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#8606 Add Standard Ebooks feed to opdsbrowser.lua
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin

#8621 Fix #8617: WiFi network returns connected without connection for PB741 color
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#8626 Fix djvu crash
  frontend/document/koptinterface.lua
Labels: bug

#8637 Wallabag : adds an option to send the review as tags on wallabag
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#8546 Pocketbook: switch the Wi-Fi on before attempting to connect (#4747)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#8646 PathChooser: add left Home button
  frontend/apps/filemanager/filemanager.lua
  frontend/ui/widget/filechooser.lua
  frontend/ui/widget/pathchooser.lua
  plugins/coverbrowser.koplugin/covermenu.lua
Labels: UX

#8688 Battery Stat: Fix remaining & per hour numbers
  plugins/batterystat.koplugin/main.lua
Labels: bug

#8263 Newsdownloader EPUB Volumization
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
  plugins/newsdownloader.koplugin/feed_source.lua
  plugins/newsdownloader.koplugin/feed_view.lua
  plugins/newsdownloader.koplugin/http_utilities.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#8705 [lang] Add missing plurals to Dropbox download messages
  frontend/apps/cloudstorage/cloudstorage.lua
Labels: bug, i18n

#8712 Improve reader config dialog for Non-Touch devices
  frontend/apps/reader/modules/readerconfig.lua
  frontend/ui/widget/button.lua
  frontend/ui/widget/buttonprogresswidget.lua
  frontend/ui/widget/buttontable.lua
  frontend/ui/widget/configdialog.lua
  frontend/ui/widget/container/framecontainer.lua
  frontend/ui/widget/doublespinwidget.lua
  frontend/ui/widget/focusmanager.lua
  frontend/ui/widget/iconbutton.lua
  frontend/ui/widget/numberpickerwidget.lua
  frontend/ui/widget/radiobuttontable.lua
  frontend/ui/widget/skimtowidget.lua
  frontend/ui/widget/spinwidget.lua
  frontend/ui/widget/toggleswitch.lua
  frontend/ui/widget/touchmenu.lua
  frontend/ui/widget/virtualkeyboard.lua
Labels: NT

#8733 wallabag : fixes synchronization when "send review as tags" is checked
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#8636 Terminal emulator
  .ci/helper_shellchecks.sh
  frontend/ui/widget/inputdialog.lua
  frontend/ui/widget/keyvaluepage.lua
  frontend/ui/widget/virtualkeyboard.lua
  plugins/terminal.koplugin/_meta.lua
  plugins/terminal.koplugin/aliases.lua
  plugins/terminal.koplugin/main.lua
  plugins/terminal.koplugin/profile
  plugins/terminal.koplugin/shfm
  plugins/terminal.koplugin/shfm_opener.sh
  plugins/terminal.koplugin/terminputtext.lua
Labels: Plugin

#8749 [fix, plugin] Terminal emulator: Fix elinks -> 'q' crash
  plugins/terminal.koplugin/terminputtext.lua
Labels: Plugin

#8729 PocketBook: make canAssociateFileExtensions always return true
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#8747 remove send2ebook plugin
  frontend/pluginloader.lua
  plugins/send2ebook.koplugin/_meta.lua
  plugins/send2ebook.koplugin/main.lua
Labels: Plugin, chore

#8756 Teminal emulator: fix translatable, fix potential crash
  plugins/terminal.koplugin/main.lua
  plugins/terminal.koplugin/terminputtext.lua
Labels: Plugin
