Repository koreader/koreader, pull requests merged in 2022-11, with the labels that each got.

#9726 Fix broken translation metadata
  frontend/dispatcher.lua
Labels: i18n

#9715 AutoWarmth: add message on user change of night mode
  plugins/autowarmth.koplugin/main.lua
Labels: enhancement, Plugin

#9734 Dispatcher: add unused singular to action plurals
  frontend/dispatcher.lua
Labels: i18n

#9735 AutoWarmth: fix frontlight toggle during day
  frontend/device/devicelistener.lua
  plugins/autowarmth.koplugin/main.lua
Labels: bug, enhancement, Plugin

#9753 exporter: prevent exporting documents when they're not open
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#9709 Cloud-based sync for 2 plugins: reading statistics and vocabulary builder
  frontend/apps/cloudstorage/cloudstorage.lua
  frontend/apps/cloudstorage/dropboxapi.lua
  frontend/apps/cloudstorage/syncservice.lua
  frontend/apps/cloudstorage/webdav.lua
  frontend/apps/cloudstorage/webdavapi.lua
  plugins/statistics.koplugin/main.lua
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#9755 AutoWarmth: add a time offset for toggling frontlight on/off
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#9750 (OPDS) Progess Sync Support for Kavita & Various Refactor Fixes
  plugins/opds.koplugin/opdsbrowser.lua
  plugins/opds.koplugin/opdspse.lua
Labels: Plugin, OPDS

#9756 Use inkview to adjust image colors to look more bright
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#9802 Exporter: fix orphan highlights
  plugins/exporter.koplugin/clip.lua
Labels: bug, Plugin

#9813 Statistics.koplugin: calendar day detail
  plugins/statistics.koplugin/calendarview.lua
  plugins/statistics.koplugin/main.lua
Labels: Plugin

#9829 OPDSbrowser: accept catalogs without header in response
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#9837 calibre: fix attempt to index path_entry
  plugins/calibre.koplugin/search.lua
Labels: bug, Plugin

#9841 [i18n] Fix 'Choose new folder to set as home?' can't be translated
  frontend/apps/filemanager/filemanagermenu.lua
Labels: i18n

#9839 unified call method
  plugins/coverimage.koplugin/main.lua
Labels: Plugin
