Repository koreader/koreader, pull requests merged in 2022-07, with the labels that each got.

#9289 AutoWarmth: force setWarmth after resume
  frontend/device/generic/powerd.lua
  plugins/autowarmth.koplugin/main.lua
Labels: Kobo

#9301 CoverImage: fix translatable
  plugins/coverimage.koplugin/main.lua
Labels: Plugin, i18n

#9314 Time: fix bug introduced with #8999
  frontend/apps/reader/modules/readerpaging.lua
  frontend/device/sdl/device.lua
Labels: bug, Desktop

#9322 Kobo: Autodetect the Elan input device on both i2c buses
  frontend/device/kobo/device.lua
Labels: Kobo

#9327 fix: Crash loading extensions from pocketbook
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#9315 AutoDim: fix timing problems with standby
  plugins/autodim.koplugin/main.lua
Labels: Plugin

#9365 Add PocketBook Era (PB700)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#9362 InputText: fix 'number' hint
  frontend/ui/widget/inputtext.lua
Labels: bug

#9337 AutoWarmth: add option to toggle/set frontlight on day/night
  plugins/autodim.koplugin/main.lua
  plugins/autowarmth.koplugin/main.lua
Labels: enhancement, Plugin

#9393 vocabbuilder.koplugin: always show more button, add book filtering
  frontend/ui/widget/sortwidget.lua
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin
