Repository koreader/koreader, pull requests merged in 2022-06, with the labels that each got.

#9160 Page turn animations: add to dispatcher
  frontend/dispatcher.lua
Labels: bug

#9161 vocabulary builder bug fix: resetting changes when reviewing backwards
  plugins/vocabbuilder.koplugin/db.lua
Labels: bug, Plugin

#9153 Highlights share
  plugins/exporter.koplugin/main.lua
  plugins/exporter.koplugin/target/html.lua
  plugins/exporter.koplugin/target/json.lua
  plugins/exporter.koplugin/target/markdown.lua
  plugins/exporter.koplugin/target/text.lua
Labels: enhancement, Plugin

#9166 Info messages with status
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#9168 vocabulary builder bugfix and quick word deletion
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#9167 Fixes Infomessage error on remote
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#9165 Pretty JSON export
  plugins/exporter.koplugin/target/json.lua
Labels: Plugin

#9146 [plugin, autosuspend] Clean up after #9055
  plugins/autosuspend.koplugin/main.lua
Labels: Plugin

#9119 [Terminal] fix crash on clear screen
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#9202 Auto frontlight plugin: Newer Oasis models are also supported
  plugins/autofrontlight.koplugin/main.lua
Labels: Kindle

#9203 exporter: fix crash on joplin when token is invalid
  plugins/exporter.koplugin/target/joplin.lua
Labels: bug, Plugin

#9195 vocabbuilder.koplugin: adding copy button and word context
  frontend/apps/reader/modules/readerdictionary.lua
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
  plugins/vocabbuilder.koplugin/_meta.lua
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#9220 Better meta parsing for exporter
  plugins/exporter.koplugin/base.lua
  plugins/exporter.koplugin/clip.lua
  plugins/exporter.koplugin/target/json.lua
Labels: Plugin

#9217 AutoDim: No dim if frontlight is off
  plugins/autodim.koplugin/main.lua
Labels: Plugin

#9243 AutoDim: reschedule on every tap
  plugins/autodim.koplugin/main.lua
Labels: Plugin

#9208 Pocketbook: Keep wifi alive as long as wifi is enabled
  frontend/device/pocketbook/device.lua
Labels: enhancement, PocketBook

#9255 Exporter getTitle Fix fix
  plugins/exporter.koplugin/clip.lua
Labels: Plugin

#9258 AutoStandby: fix (re)scheduling
  plugins/autosuspend.koplugin/main.lua
Labels: Plugin
