Repository koreader/koreader, pull requests merged in 2022-02, with the labels that each got.

#8759 [plugin] Update capitalization style "Terminal Emulator" → "Terminal emulator"
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8757 Touchmenu radiobutton
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/ui/elements/page_overlap.lua
  frontend/ui/elements/screen_rotation_menu_table.lua
  frontend/ui/widget/radiomark.lua
  frontend/ui/widget/touchmenu.lua
Labels: UX

#8741 [AltStatusBar] Don't show [+] in status line when loading from power cover
  frontend/apps/reader/modules/readercoptlistener.lua
  frontend/apps/reader/modules/readerrolling.lua
Labels: Kobo

#8795 BookShortcuts plugin: fix folders handling
  plugins/bookshortcuts.koplugin/main.lua
Labels: Plugin

#8822 Add support for RDF feeds
  plugins/newsdownloader.koplugin/feed_source.lua
Labels: Plugin

#8829 [plugin] Terminal: fix @translators comments
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8830 [plugin] Terminal: move stray newlines outside of translated string
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8758 kosync: send progress as a string to the server
  plugins/kosync.koplugin/KOSyncClient.lua
Labels: Plugin

#8831 [plugin] Terminal: remove stray space at end of string
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8848 Terminal: regression with #8845
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8849 [fix, i18n] Add gettext() to info text about UI fallback fonts
  frontend/ui/elements/font_ui_fallbacks.lua
Labels: i18n

#8851 Add Pocketbook 740-3
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#8833 Update Kobo installation instructions
  platform/kobo/fmon/README.txt
  platform/kobo/fmon/koreader.sh
Labels: documentation
