Repository koreader/koreader, pull requests merged in 2022-04, with the labels that each got.

#8959 Status bar: fix battery display (threshold with aux battery)
  frontend/apps/reader/modules/readerfooter.lua
Labels: Kobo

#8980 String and formatting issues
  plugins/autosuspend.koplugin/_meta.lua
  plugins/systemstat.koplugin/main.lua
Labels: Plugin, chore

#8994 Terminal: Make the prerequisites check verbose
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#8950 [plugin] Wallabag: abort synchronisation on request error
  plugins/wallabag.koplugin/main.lua
Labels: bug, Plugin

#9010 Kobo: Kill new FW 4.32 stuff on startup
  platform/kobo/koreader.sh
Labels: Kobo, firmware

#9018 [plugin] Wallabag: archive instead of deleting read articles by default
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#9034 Build deps for Fedora
  doc/Building.md
Labels: documentation
