Repository koreader/koreader, pull requests merged in 2022-08, with the labels that each got.

#9090 add tool to update fastlane metadata based on weblate translations
  tools/update-metadata.lua
Labels: Android, i18n

#9411 [plugin] Fix crash in AutoWarmth
  plugins/autowarmth.koplugin/main.lua
Labels: bug, Plugin

#9419 kindle: allow stopping the framework on 5.X
  frontend/device/kindle/device.lua
  platform/kindle/extensions/koreader/menu.json
  platform/kindle/koreader.sh
Labels: Kindle

#9443 [fix, SDL] Remove useless Device call from exit
  frontend/device/input.lua
Labels: Desktop

#9371 Update Standard Ebooks OPDS URLs to new URL
  frontend/ui/data/onetime_migration.lua
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin

#9442 [AutoWarmth] optimisations and fixes to progressive warmth setting
  plugins/autowarmth.koplugin/main.lua
  plugins/autowarmth.koplugin/suntime.lua
Labels: Plugin
