Repository koreader/koreader, pull requests merged in 2023-02, with the labels that each got.

#10036 Profiles: create profile with current document settings
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#10076 fix not shown as a desktop application
  platform/appimage/koreader.appdata.xml
Labels: Desktop

#10080 Dispatcher: fix dynamically built menu
  frontend/dispatcher.lua
Labels: bug

#10066 Screen Warmth: Fix a bug with syncing screen warmth on start
  frontend/device/kobo/powerd.lua
Labels: bug, Kobo

#10004 Update supported format list with missing items
  README.md
Labels: documentation

#10081 ExternalKeyboard: make metadata capitalization abide by styleguide
  plugins/externalkeyboard.koplugin/_meta.lua
Labels: Plugin

#10109 ReaderBookmark: fix comparing positions
  frontend/apps/reader/modules/readerbookmark.lua
Labels: bug

#10125 [AutoWarmth] Recalculate timezone
  plugins/autowarmth.koplugin/main.lua
  plugins/autowarmth.koplugin/suntime.lua
Labels: bug, Plugin

#8739 Try route from net-tools if ip from iproute2 is not available
  frontend/device/generic/device.lua
  frontend/device/sdl/device.lua
Labels: To be continued

#10147 Wallabag: fix doc settings
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#10152 MoveToArchive: fix DocSettings
  plugins/movetoarchive.koplugin/main.lua
Labels: Plugin

#10159 [i18n, plugin] Exporter: fix some incorrect uses of translation
  plugins/exporter.koplugin/main.lua
Labels: Plugin, i18n

#10164 [fix] CoverBrowser: fix calling upvalue crash in MosaicMenu
  plugins/coverbrowser.koplugin/mosaicmenu.lua
Labels: bug, Plugin
