Repository koreader/koreader, pull requests merged in 2023-01, with the labels that each got.

#9996 [AutoWarmth] Simplify translations
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin, i18n

#10017 [i18n] Enable Farsi
  frontend/ui/language.lua
Labels: i18n

#10033 Profiles: fixes
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#10059 Kindle: NetworkMgr: isWifiOn isConnected
  frontend/device/kindle/device.lua
  frontend/ui/network/manager.lua
Labels: Kindle
