Repository koreader/koreader, pull requests merged in 2023-12, with the labels that each got.

#11188 History: fix non standard status
  frontend/apps/filemanager/filemanagerhistory.lua
Labels: bug

#11212 AppImage: remove hasMultitouch = no
  frontend/device/sdl/device.lua
Labels: AppImage

#11230 Terminal Emulator: Fix former_buffer crash
  plugins/terminal.koplugin/terminputtext.lua
Labels: bug, Plugin

#11249 Debian package: add X-Purism-FormFactor to koreader.desktop
  platform/debian/koreader.desktop
Labels: Desktop

#11251 File manager: fix height of menu widget
  frontend/ui/widget/menu.lua
Labels: bug

#11284 Statistics: Also skip hidden flows stuff in continuous mode
  plugins/statistics.koplugin/main.lua
Labels: Plugin

#11262 Add folder check in move-to-archive
  frontend/util.lua
  plugins/movetoarchive.koplugin/main.lua
Labels: Plugin

#11285 Kindle Scribe: fix touch input
  frontend/device/kindle/device.lua
Labels: Kindle

#11282 History: fix untranslated strings
  frontend/apps/filemanager/filemanagerhistory.lua
Labels: i18n

#11292 Add HW dither on Kindle Scribe
  frontend/device/kindle/device.lua
Labels: Kindle

#11302 Add viewport for PB743K3
  frontend/device/pocketbook/device.lua
Labels: PocketBook
