Repository koreader/koreader, pull requests merged in 2023-09, with the labels that each got.

#10798 PDF contrast: incorrect set by a gesture
  frontend/apps/reader/modules/readerkoptlistener.lua
  frontend/apps/reader/modules/readerview.lua
  frontend/dispatcher.lua
  frontend/document/koptinterface.lua
  frontend/ui/data/koptoptions.lua
  frontend/ui/data/onetime_migration.lua
Labels: bug

#10874 Exporter: custom metadata
  plugins/exporter.koplugin/clip.lua
Labels: Plugin

#10897 [doc] Building: minor updates to Debian/Ubuntu prerequisites
  doc/Building.md
Labels: documentation

#10928 Revert "Kobo: Disable HW inversion on MTK (#10841)"
  frontend/device/kobo/device.lua
Labels: Kobo, need more info, firmware, help-wanted

#10938 Update device.lua, to add PB-Verse_(PB629) and PB-Verse Pro_(PB634)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#10942 coverbrowser: improve title & authors layout
  plugins/coverbrowser.koplugin/listmenu.lua
Labels: Plugin
