Repository koreader/koreader, pull requests merged in 2023-07, with the labels that each got.

#10639 [ota]: deprecation check & notice
  frontend/device/android/device.lua
  frontend/device/generic/device.lua
  frontend/ui/otamanager.lua
Labels: chore

#10648 [i18n]KOSync: use already translated "Not available" instead of "Unavailable"
  plugins/kosync.koplugin/main.lua
Labels: Plugin

#10655 Extended addition of PocketBook InkPad 4 (PB743G)/(PB743g)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#10657 OPDS fixes
  frontend/ui/data/onetime_migration.lua
  frontend/ui/widget/imageviewer.lua
  plugins/opds.koplugin/opdsbrowser.lua
  plugins/opds.koplugin/opdspse.lua
Labels: Plugin

#10685 Add support for InkPad Color 2
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#10683 ArchiveViewer: view files
  plugins/archiveviewer.koplugin/main.lua
Labels: Plugin

#10733 Autowarmth: Change strings "set" and "unset" to "turn on" / "turn off" where appropriate
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#10715 Fix issue #9187 Handle wallabag server url with trailing slash(es)
  plugins/wallabag.koplugin/main.lua
Labels: Plugin
