Repository koreader/koreader, pull requests merged in 2023-06, with the labels that each got.

#10553 CoverImage: custom cover support
  frontend/apps/filemanager/filemanagerbookinfo.lua
  plugins/coverimage.koplugin/main.lua
Labels: Plugin

#10557 [AutoWarmth] Fix resume and frontlight issue
  frontend/device/kobo/powerd.lua
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#10556 [AutoWarmth] Fix nightmode issue on non natural light devices
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#10555 OPDS: view book cover
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#10576 Overlap: fix detecting reflow mode
  frontend/apps/reader/modules/readerpaging.lua
  frontend/apps/reader/modules/readerview.lua
Labels: bug

#10582 PocketBook: add alternative definition for PB840
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#10584 Archive viewer
  frontend/apps/filemanager/filemanager.lua
  plugins/archiveviewer.koplugin/_meta.lua
  plugins/archiveviewer.koplugin/main.lua
Labels: Plugin

#10621 [i18n,plugin]Statistics: differentiate different types of 'reset'
  plugins/statistics.koplugin/main.lua
Labels: Plugin, i18n

#10625 Archive viewer: correct parsing unzip output
  plugins/archiveviewer.koplugin/main.lua
Labels: Plugin
