Repository koreader/koreader, pull requests merged in 2023-08, with the labels that each got.

#10765 Exporter: fixes
  plugins/exporter.koplugin/clip.lua
Labels: Plugin

#10749 Statistics plugin sync: fix bloated null id_books
  frontend/ui/data/onetime_migration.lua
  plugins/statistics.koplugin/main.lua
Labels: Plugin

#10788 Exporter: Replace author newlines with commas in HTML, Readwise
  plugins/exporter.koplugin/target/readwise.lua
  plugins/exporter.koplugin/template/note.tpl
Labels: Plugin

#10778 Profiles: fix New profile with current pdf document settings
  frontend/dispatcher.lua
  plugins/profiles.koplugin/main.lua
Labels: bug, Plugin

#10824 Exporter: fix order for Readwise
  plugins/exporter.koplugin/target/readwise.lua
Labels: Plugin

#10845 [i18n] Revert Unicode escape sequence to utf-8 bytes for translation
  frontend/datetime.lua
Labels: i18n
