Repository koreader/koreader, pull requests merged in 2023-05, with the labels that each got.

#10376 koptoptions: fix default margin
  frontend/ui/data/koptoptions.lua
Labels: bug

#10290 kindle voyage no framework launch whispertouch button activation
  frontend/device/kindle/device.lua
  spec/unit/device_spec.lua
Labels: Kindle

#10393 FileChooser: fix percent sorting
  frontend/ui/widget/filechooser.lua
Labels: bug

#10407 Exporter: correct access to doc settings
  plugins/exporter.koplugin/clip.lua
Labels: Plugin

#10411 Exporter: add memos export
  plugins/exporter.koplugin/main.lua
  plugins/exporter.koplugin/target/memos.lua
Labels: Plugin

#10451 ReaderHighlight: fix translation
  frontend/apps/reader/modules/readerhighlight.lua
Labels: bug

#10448 Exporter: choose folder
  plugins/exporter.koplugin/base.lua
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#10472 FileManagerCollection: fix Crash on "Execute shell script"
  frontend/apps/filemanager/filemanagercollection.lua
Labels: bug

#10498 Sync the `last_open` field in Reading Statistics
  plugins/statistics.koplugin/main.lua
Labels: Plugin
