Repository koreader/koreader, pull requests merged in 2023-11, with the labels that each got.

#11079 Add new PocketBook InkPad Color 3 (743K3)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#11072 Profiles: fix updating gestures
  frontend/apps/reader/modules/readerstyletweak.lua
  plugins/gestures.koplugin/main.lua
  plugins/profiles.koplugin/main.lua
Labels: bug, Plugin

#11087 Exporter: add XMNote export
  plugins/exporter.koplugin/main.lua
  plugins/exporter.koplugin/target/xmnote.lua
Labels: Plugin

#11134 Exporter: fix XMNote export, add author field
  plugins/exporter.koplugin/target/xmnote.lua
Labels: Plugin

#11167 Folder shortcuts: fix menu
  frontend/apps/filemanager/filemanagershortcuts.lua
Labels: bug

#11159 Kindle scribe gyro and pen support
  frontend/device/kindle/device.lua
Labels: Kindle

#11175 Profiles: fix update actions in gestures
  plugins/gestures.koplugin/main.lua
Labels: bug, Plugin
