Repository koreader/koreader, pull requests merged in 2024-10, with the labels that each got.

#12569 Exporter: export to book folder, register to Dispatcher
  plugins/exporter.koplugin/base.lua
  plugins/exporter.koplugin/main.lua
Labels: Plugin

#12557 Disabled rotation map for Android devices where "hw media keys follow gravity"
  frontend/device/android/device.lua
Labels: Android

#12592 [plugin] Exporter: fix typo
  plugins/exporter.koplugin/main.lua
Labels: i18n

#12606 DocSettingsTweak: apply to books with status
  frontend/util.lua
  plugins/docsettingtweak.koplugin/main.lua
Labels: Plugin

#12612 Profiles: add "on rotation" auto-execute event
  frontend/ui/data/creoptions.lua
  frontend/ui/data/koptoptions.lua
  frontend/ui/data/optionsutil.lua
  frontend/ui/elements/screen_rotation_menu_table.lua
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#12632 Text editor: show current line number
  frontend/ui/widget/inputdialog.lua
  frontend/ui/widget/inputtext.lua
Labels: Plugin

#12652 InputText: fix Terminal plugin input
  frontend/ui/widget/inputtext.lua
Labels: bug

#12654 ReaderHighlight: fix color for extended highlight in pdf
  frontend/apps/reader/modules/readerhighlight.lua
Labels: bug

#12651 Profiles: more auto-exec triggers
  frontend/dispatcher.lua
  frontend/util.lua
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#12668 PatchManagement: prettify menu
  plugins/patchmanagement.koplugin/main.lua
Labels: Plugin

#12682 Terminal: less logging
  plugins/terminal.koplugin/main.lua
Labels: Plugin

#12658 Text editor: rotate
  frontend/apps/filemanager/filemanager.lua
  frontend/apps/reader/modules/readerfooter.lua
  frontend/apps/reader/modules/readerrotation.lua
  frontend/apps/reader/modules/readerview.lua
  frontend/apps/reader/modules/readerzooming.lua
  frontend/apps/reader/readerui.lua
  frontend/document/document.lua
  frontend/ui/widget/inputdialog.lua
  plugins/texteditor.koplugin/main.lua
Labels: Plugin

#12691 Profiles: more auto-exec triggers 2
  frontend/apps/filemanager/filemanager.lua
  frontend/apps/filemanager/filemanagercollection.lua
  frontend/apps/filemanager/filemanagerhistory.lua
  frontend/ui/widget/filechooser.lua
  frontend/util.lua
  plugins/profiles.koplugin/main.lua
Labels: Plugin
