Repository koreader/koreader, pull requests merged in 2024-06, with the labels that each got.

#11946 [plugin AutoWarmth] Add more gesture for activation of autowarmth
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#11972 OPDS: Fix browsing a Calibre content server
  plugins/opds.koplugin/opdsbrowser.lua
Labels: bug

#11984 [plugin] AutoDim: reset counter on page turn
  plugins/autodim.koplugin/main.lua
Labels: Plugin

#11987 [ReaderThumbnail] Change base class to support key events
  frontend/apps/reader/modules/readerthumbnail.lua
Labels: bug

#12030 VocabBuilder: Fix and improve non-touch device experience
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin, NT

#12045 Kobo: Overengineer the manual CLOEXEC logic in the Wi-Fi scripts
  platform/kobo/enable-wifi.sh
  platform/kobo/obtain-ip.sh
Labels: bug, Kobo

#12053 ReaderBookmark: fix sort by date
  frontend/apps/reader/modules/readerbookmark.lua
Labels: bug

#12095 Filemanager: fix OpenWith without config
  frontend/apps/filemanager/filemanager.lua
Labels: bug

#12090 doc: add Arch Linux building instructions
  doc/Building.md
Labels: documentation

#12107 Export: solved my_clippings OOM
  plugins/exporter.koplugin/target/my_clippings.lua
Labels: Plugin

#12106 [Highlight Export Plugin] Include book author name in myclippings export format for better book identification
  plugins/exporter.koplugin/target/my_clippings.lua
Labels: Plugin

#12120 Fix for OTA updates w/ zsync
  frontend/ui/otamanager.lua
Labels: bug
