Repository koreader/koreader, pull requests merged in 2024-12, with the labels that each got.

#12815 Schedule next standby on AutoStandby plugin init
  plugins/autostandby.koplugin/main.lua
Labels: Plugin

#12835 [AutoSuspend] Make day selector less restrictive
  plugins/autosuspend.koplugin/main.lua
Labels: Plugin

#12849 [plugin] Patch management: fix disabling plugin
  plugins/patchmanagement.koplugin/_meta.lua
Labels: bug, Plugin

#12852 FileManagerBookInfo: fix logic in getCoverImage()
  frontend/apps/filemanager/filemanagerbookinfo.lua
Labels: bug

#12884 Profiles: auto-exec "on book opening" - new books
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#12873 Update macOS PATH shenanigans
  doc/Building.md
Labels: documentation

#12860 [HotKeys] adds 'type to search' setting to hasKeyboard devices
  frontend/apps/reader/modules/readersearch.lua
  plugins/hotkeys.koplugin/main.lua
Labels: Plugin

#12889 [Dispatcher] remove gesture mentions from NT
  frontend/dispatcher.lua
Labels: Plugin

#12885 VocabBuilder.koplugin: support option to overwrite word with new context
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#12917 VocabBuilder.koplugin: support pdf context extraction for multi-word phrase
  frontend/document/koptinterface.lua
Labels: Plugin

#12946 Add support of KindlePaperwhite5 Signature Edition light sensor
  frontend/device/kindle/device.lua
Labels: Kindle

#12958 [plugin] NewsDownloader: support single-entry feeds
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#12959 [plugin] NewsDownloader: fix Atom download_full_article=false not working
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#12965 [plugin] NewsDownloader: switch default to download_full_article=false
  plugins/newsdownloader.koplugin/feed_config.lua
  plugins/newsdownloader.koplugin/feed_view.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#12970 [lang] Exporter → Nextcloud: use proper arrow
  plugins/exporter.koplugin/target/nextcloud.lua
Labels: Plugin, i18n

#12969 [plugin] NewsDownloader: download images without extension
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
Labels: bug, Plugin
