Repository koreader/koreader, pull requests merged in 2024-09, with the labels that each got.

#12446 fix bug preventing export to joplin;
  plugins/exporter.koplugin/target/joplin.lua
Labels: Plugin

#12449 InputText: Unbreak onTapTextBox on an already in-focus field
  frontend/ui/widget/inputtext.lua
Labels: bug

#12466 ReaderView: Fix a couple of edge-cases in onReaderFooterVisibilityChange
  frontend/apps/reader/modules/readerview.lua
Labels: bug

#12470 Cloud Sync: handles potentially incompatible backup and incoming dbs
  frontend/apps/cloudstorage/syncservice.lua
  plugins/statistics.koplugin/main.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#12469 VocabBuilder.koplugin: Better handling word context
  plugins/vocabbuilder.koplugin/db.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#12521 Kindle: Restore hall effect sensor state on startup
  frontend/device/kindle/device.lua
  frontend/device/kindle/powerd.lua
Labels: bug, Kindle, firmware

#12530 VocabBuilder.koplugin: save dict headword as entry
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#12547 Statistics: fix null terminated strings, add toggle stats
  plugins/statistics.koplugin/main.lua
Labels: Plugin

#12564 Profiles: auto-execute on events
  frontend/apps/reader/readerui.lua
  frontend/ui/data/onetime_migration.lua
  plugins/profiles.koplugin/main.lua
Labels: Plugin
