Repository koreader/koreader, pull requests merged in 2024-05, with the labels that each got.

#11752 [CoverImage] Honor rotation after opening of a book
  frontend/apps/reader/modules/readerview.lua
  plugins/coverimage.koplugin/main.lua
Labels: bug, Plugin

#11794 Kindle: Fix missing Amazon UI screensaver after exiting KOreader
  frontend/device/kindle/device.lua
Labels: Kindle

#11750 [ReaderHighlight] Remove duplicated setting on NT devices
  frontend/apps/reader/modules/readerhighlight.lua
Labels: NT

#11803 NT: add Hot swapping dictionaries button and edit button into FocusManager's layout
  frontend/ui/widget/dictquicklookup.lua
Labels: NT

#11806 Register Calibre start/stop connection actions
  plugins/calibre.koplugin/main.lua
Labels: Plugin

#11764 Check if /usr/bin symlink is present to fix instance reuse issue on older Pocketbooks
  platform/pocketbook/koreader.app
Labels: PocketBook

#11817 android: fix building with kodev
  Makefile
  make/android.mk
Labels: Android

#11818 doc: fix android NDK / SDK instructions
  doc/Building_targets.md
Labels: Android, documentation

#11811 fix #11810: only set FocusManager layout if hasDPod
  frontend/ui/widget/dictquicklookup.lua
Labels: bug

#11777 Replace tweak_buttons_func with an event instead
  frontend/apps/reader/modules/readerdictionary.lua
  frontend/ui/widget/dictquicklookup.lua
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#11787 PocketBook: Open links in the on-device web browser
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#11847 Desktop: add all supported mimetypes.
  platform/appimage/koreader.desktop
  platform/linux/koreader.desktop
Labels: Desktop, AppImage

#11749 Non-touch DPad improvements, largely kindle.
  frontend/apps/filemanager/filemanager.lua
  frontend/apps/filemanager/filemanagermenu.lua
  frontend/apps/reader/modules/readerbookmark.lua
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/apps/reader/modules/readerlink.lua
  frontend/apps/reader/modules/readerpaging.lua
  frontend/apps/reader/modules/readerrolling.lua
  frontend/apps/reader/modules/readertoc.lua
  frontend/apps/reader/readerui.lua
  frontend/device/generic/device.lua
  frontend/device/input.lua
  frontend/device/kindle/device.lua
  frontend/ui/widget/touchmenu.lua
Labels: NT

#11802 Screenshots on Non-Touch
  frontend/device/input.lua
  frontend/ui/widget/screenshoter.lua
Labels: NT

#11884 Global long press on K4, 'ScreenKB' + 'Press' (this time for real)
  frontend/ui/widget/focusmanager.lua
  frontend/ui/widget/menu.lua
Labels: NT

#11902 [i18n] ReaderBookmark: don't bother translators with a space
  frontend/apps/reader/modules/readerbookmark.lua
Labels: i18n

#11912 Don't send empty string as note in readwise export
  plugins/exporter.koplugin/clip.lua
Labels: Plugin
