Repository koreader/koreader, pull requests merged in 2025-05, with the labels that each got.

#13742 OPDSBrowser: fix "Downloading…" message
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#13760 Add PocketBook Verse Lite (PB619)
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#13767 ci: bump docker images
  .circleci/config.yml
Labels: chore

#13772 Add option to start SSH server with KOReader
  plugins/SSH.koplugin/main.lua
Labels: Plugin

#13795 reMarkable: Make sleep/waking up w/o launcher work and properly exit when KO_DONT_GRAB_INPUT is set
  frontend/device/generic/powerd.lua
  frontend/device/remarkable/device.lua
  frontend/device/remarkable/event_map.lua
  frontend/device/remarkable/powerd.lua
  frontend/ui/elements/common_settings_menu_table.lua
Labels: reMarkable

#13799 [plugin] NewsDownloader: fix RSS feeds
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#13786 Network timeout settings for wallabug plugin
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#13851 Fixing OPDS bulk download auth
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#13873 Profiles auto-exec "On showing folder": add "path is (not) equal" conditions
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#13872 Added Onyx Boox Go 7 to devices that follow gravity.
  frontend/device/android/device.lua
Labels: Android
