Repository koreader/koreader, pull requests merged in 2025-09, with the labels that each got.

#14284 feat/remarkable: Initial reMarkable Paper Pro Move support
  frontend/device/remarkable/device.lua
Labels: reMarkable

#14280 ReadTimer: use previous scheduled instance
  plugins/readtimer.koplugin/main.lua
Labels: Plugin

#14366 Android: auto-grant MANAGE_EXTERNAL_STORAGE for faster dev testing
  make/android.mk
Labels: Android

#14383 [News] Block CSS elements
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
  plugins/newsdownloader.koplugin/feed_config.lua
  plugins/newsdownloader.koplugin/feed_view.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin
