Repository koreader/koreader, pull requests merged in 2025-08, with the labels that each got.

#14096 fix/remarkable: Fixed wifi management and added xovi env variables
  frontend/device/remarkable/device.lua
Labels: reMarkable

#13669 [Kobo] Enable wake on page turn buttons
  frontend/device/input.lua
  frontend/ui/elements/common_settings_menu_table.lua
  frontend/ui/elements/filemanager_menu_order.lua
  frontend/ui/elements/reader_menu_order.lua
Labels: enhancement, Kobo

#14133 Profiles: auto exec promptly
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#14127 VocabBuilder.koplugin: supports removing word in-place after addition
  plugins/vocabbuilder.koplugin/main.lua
Labels: Plugin

#14199 Fix(OPDS): Ensure downloaded files have a file extension
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#14212 Export highlights: customizable export filename
  plugins/exporter.koplugin/base.lua
  plugins/exporter.koplugin/clip.lua
  plugins/exporter.koplugin/main.lua
  spec/unit/exporter_plugin_main_spec.lua
Labels: Plugin

#14221 Wallabag: fix archive_finished initialization logic
  plugins/wallabag.koplugin/main.lua
Labels: Plugin
