Repository koreader/koreader, pull requests merged in 2025-02, with the labels that each got.

#13182 NewsDownloader: some random cleanup
  plugins/newsdownloader.koplugin/feed_view.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#13188 NewsDownloader: process HTML with cre.getBalancedHTML() to ensure self-closing tags like <hr> are closed like <hr/>
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
Labels: Plugin, NewsDownloader

#13196 Kindle: demote Warn to Info
  frontend/device/kindle/powerd.lua
Labels: Kindle

#13200 Highlights: fix page boxes cache
  frontend/apps/reader/modules/readerannotation.lua
  frontend/apps/reader/modules/readerbookmark.lua
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/apps/reader/modules/readerview.lua
Labels: bug

#13227 Dispatcher: fix remove actions
  frontend/dispatcher.lua
Labels: bug

#13224 fix: Added OSS-Dict support
  frontend/device/android/device.lua
Labels: enhancement, Android

#13230 OPDS: raw server filenames for download
  frontend/socketutil.lua
  frontend/ui/widget/inputtext.lua
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#13238 Fix typo in PocketBook init
  frontend/device/pocketbook/device.lua
Labels: PocketBook

#13237 calibre.koplugin: show message when attempting to connect via dispatcher
  plugins/calibre.koplugin/main.lua
Labels: Plugin

#13260 [plugin] NewsDownloader: don't try to strip <script> tags
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
Labels: Plugin

#13232 [DictQuickLookup] NT: add text selection to the dictionary widget
  frontend/apps/reader/modules/readerhighlight.lua
  frontend/ui/widget/dictquicklookup.lua
  frontend/ui/widget/focusmanager.lua
Labels: NT
