Repository koreader/koreader, pull requests merged in 2025-03, with the labels that each got.

#13338 OPDS: group downloading
  frontend/ui/data/onetime_migration.lua
  plugins/opds.koplugin/main.lua
  plugins/opds.koplugin/opdsbrowser.lua
  plugins/opds.koplugin/opdscatalog.lua
Labels: Plugin, OPDS

#13339 [plugin] HTTPInspector: return InputEvent on every call
  frontend/ui/message/simpletcpserver.lua
  plugins/httpinspector.koplugin/main.lua
Labels: Plugin

#13393 Book shortcuts: scripts support
  frontend/apps/filemanager/filemanagerutil.lua
  plugins/bookshortcuts.koplugin/main.lua
Labels: Plugin

#13399 Profiles: auto-exec time interval
  plugins/profiles.koplugin/main.lua
Labels: Plugin

#13407 [plugin/NEWS-RSS] Handle missing description gracefully in rss feed
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#13411 fix for Add new entry show the url from the last added entry in NoewDownloader
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#13415 [News Downloader UI] Fix missing elements in the Add feeds window
  plugins/newsdownloader.koplugin/feed_view.lua
Labels: Plugin, NewsDownloader

#13421 [plugin] HttpInspector: avoid crash when port can't be bound
  frontend/ui/message/simpletcpserver.lua
  plugins/httpinspector.koplugin/main.lua
Labels: Plugin

#13443 OPDS: fix calling "file downloaded" dialog
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS
