Repository koreader/koreader, pull requests merged in 2025-01, with the labels that each got.

#12968 [plugin, i18n] CoverBrowser: add missing plural
  plugins/coverbrowser.koplugin/listmenu.lua
Labels: Plugin, i18n

#12975 Vocabbuiler.koplugin: Fix pdf context extraction with hyphenation
  frontend/document/koptinterface.lua
Labels: Plugin

#12978 [plugin] NewsDownloader: fail gracefully when date can't be parsed
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#12976 [plugin] NewsDownloader: reduce HTML idiosyncracies
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#12980 [plugin] NewsDownloader: add primitive support for relative URLs
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#12990 [device] Add the new kindle line-up
  frontend/device/kindle/device.lua
Labels: Kindle

#12985 [plugin] ReadTimer: interpret more than two minutes in the past as a time tomorrow
  plugins/readtimer.koplugin/main.lua
Labels: Plugin

#13032 [plugin] NewsDownloader: use first feed description if it's a table in RSS
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#13051 [device] add Kindle Scribe 2 support
  frontend/device/kindle/device.lua
Labels: Kindle

#12949 wallabag: Add option to archive locally, instead of deleting + rewording of menu options
  frontend/ui/data/onetime_migration.lua
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#13062 [i18n, plugins] Wallabag: use ngettext for plural
  plugins/wallabag.koplugin/main.lua
Labels: Plugin, i18n

#13071 [minor, plugin] NewsDownloader: fix a string that's concatenated without space or newline
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin

#13077 kosync: Make sure there are no leading or trailing whitespaces.
  plugins/kosync.koplugin/main.lua
Labels: Plugin

#13108 [screenshoter] Fix bug in ‘set as wallpaper’ setting.
  frontend/ui/widget/screenshoter.lua
Labels: bug

#13106 BookShortcuts: open file with associated provider
  plugins/bookshortcuts.koplugin/main.lua
Labels: Plugin

#13157 BookList: fix book status
  frontend/ui/widget/booklist.lua
Labels: bug

#13165 NewsDownloader: deal with 404 and other error statuses better
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
Labels: Plugin, NewsDownloader

#13154 [SortWidget] NT: add new keyEvents to widget
  frontend/ui/widget/sortwidget.lua
Labels: NT

#13110 [screenshoter] remove 'set as wallpaper' from devices with special offers
  frontend/ui/widget/screenshoter.lua
Labels: Kindle

#13171 NewsDownloader: add a cache to reduce wasted bandwidth
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#13178 [chore] NewsDownloader: remove dead code
  plugins/newsdownloader.koplugin/internaldownloadbackend.lua
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader

#13179 [chore] NewsDownloader: remove custom redirect handling
  plugins/newsdownloader.koplugin/epubdownloadbackend.lua
Labels: Plugin, NewsDownloader

#13101 GestureDetector: Translate start & end gesture positions when rotated
  frontend/device/gesturedetector.lua
  spec/unit/gesturedetector_spec.lua
Labels: bug

#13181 NewsDownloader: a couple of cache improvements
  plugins/newsdownloader.koplugin/main.lua
Labels: Plugin, NewsDownloader
