Repository koreader/koreader, pull requests merged in 2025-07, with the labels that each got.

#13946 Add OPDS sync feature
  plugins/opds.koplugin/main.lua
  plugins/opds.koplugin/opdsbrowser.lua
Labels: Plugin, OPDS

#14040 TouchMenu: fix
  frontend/ui/widget/touchmenu.lua
Labels: bug

#14051 [plugin] wallabag - allow filtering download to starred articles
  plugins/wallabag.koplugin/main.lua
Labels: Plugin

#13133 Support Kindle Oasis (KOA) charging cover "soda"
  frontend/device/kindle/device.lua
  frontend/device/kindle/powerd.lua
Labels: Kindle

#14059 [plugin] Terminal Emulator: implement delWord for terminal
  plugins/terminal.koplugin/main.lua
  plugins/terminal.koplugin/terminputtext.lua
Labels: Plugin

#14104 [Autowarmth] Fix nightmode only in non Expert-Mode
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin

#13253 Satisfy FR #13163: Option to hide the "night mode changed" warning
  plugins/autowarmth.koplugin/main.lua
Labels: Plugin
